<template>
<div id="app">
    <div class="notif">
        {{ message }}
    </div>
    <div class="container">
        <div class="header">
            <h1> {{ appTitle }}</h1>
        </div>
        <div class="task-input">
            <input type="text" v-model="task_title">
            <input type="text" v-model="task_description">
            <button @click="addTask">Submit</button>
        </div>
        <div class="content">
            <div class="box">
                <h3>All tasks</h3>
                <h4>Tasks: {{ tasksCount }}</h4>
                <div class="list-container">
                    <ul>
                        <li v-for="task in tasks"><b>{{task.title}}</b> <br> {{ task.description}}<br>
                            <button type="button" name="button" @click="removeTask(task)">Delete</button> &nbsp;
                            <button type="button" name="button" @click="completeTask(task)">Done</button> &nbsp;
                            <br><br>
                        </li>
                    </ul>
                </div>
                <hr>
                <h3>Incomplete tasks</h3>
                <h4>Number of incomplete tasks: {{ incompleteTasksCount }}</h4>
                <div class="list-container">
                    <ul>
                        <li v-for="task in incompleteTasks">{{task.title}} <br> {{ task.description}}<br><br>
                        </li>
                    </ul>
                </div>
            </div>
            <div class="box">
                <h3>Complete tasks</h3>
                <h4>Count: {{ completeTasksCount }}</h4>
                <div class="list-container complete">
                    <ul>
                        <li v-for="task in completeTasks"><b>{{task.title}}</b> <br> {{ task.description}}<br>
                            <button type="button" name="button" @click="removeTask(task)">Delete</button> &nbsp;
                            <button type="button" name="button" @click="completeTask(task)">Done</button> &nbsp;
                            <br><br>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <div class="footer">
            <h4>Footer</h4>
        </div>
    </div>
</div>
</template>

<script>
    import axios from 'axios'
    export default {
        name: 'app',
        data() {
            return {
                appTitle: 'Vue Todo',
                tasks: [],
                task_title: '',
                task_description: '',
                message: 'Get Working!'
            }
        },

        mounted() {
            this.getTasks();
        },

        methods: {
            getTasks: function() {
                axios.get('http://localhost:5000/tasks').then(
                    response => this.tasks = response.data
                );
            },

            addTask: function() {
                var title = this.task_title;
                var description = this.task_description;
                axios.put('http://localhost:5000/tasks', {
                    title: title,
                    description: description
                }).then(
                    response => this.message = response.data.message
                );
                this.tasks.push({
                    title: title,
                    description: description,
                    done: false
                });
                this.task_title = ''
                this.task_description = ''
            },

            removeTask: function(task) {
                var index = this.tasks.indexOf(task);
                axios.delete('http://localhost:5000/task/' + task.id).then(
                    response => this.message = response.data.message
                )
                if (index > -1) {
                    this.tasks.splice(index, 1);
                }
                this.message = 'Task "' + task.title + '" has been deleted!'

            },

            completeTask: function(task) {
                task.done = true
                // axios.patch('http://localhost:5000/task/' + task.id, {
                //     done: true
                // }).then(
                //     response => this.message = response.data.message
                // )
            }
        },

        computed: {
            tasksCount: function() {
                return this.tasks.length
            },
            incompleteTasksCount: function() {
                var incomplete = [];
                this.tasks.forEach(function(task) {
                    if (task.done === false) {
                        incomplete.push(task);
                    }
                });
                return incomplete.length
            },
            incompleteTasks: function() {
                var incompleteTasks = [];
                this.tasks.forEach(function(task) {
                    if (task.done === false) {
                        incompleteTasks.push(task);
                    }
                });
                return incompleteTasks;
            },
            completeTasks: function() {
                var completeTasks = [];
                this.tasks.forEach(function(task) {
                    if (task.done === true) {
                        completeTasks.push(task);
                    }
                });
                return completeTasks;
            },
            completeTasksCount: function() {
                var completeTasks = [];
                this.tasks.forEach(function(task) {
                    if (task.done === true) {
                        completeTasks.push(task);
                    }
                });
                return completeTasks.length
            },
            completionPercentage: function() {
                return 100;
            }
        }
    }
</script>

<style>
    body {
        background: #1A2634;
        color: #203E5F;
        font-family: 'Source Sans Pro', sans-serif;
    }

    .notif {
        color: #EEC550;
        background: #1A2634;
        position: absolute;
        left: 5;
        top: 5;
        padding: 5px;
        border: 1px solid #fff;
    }

    #app {
        width: 80%;
        margin: 0 auto;
    }

    .container {
        display: flex;
        flex-flow: column;
        margin: 1px;
    }

    .header {
        flex: 1;
        margin: 1px;
        text-align: center;
        background: #EEC550;
    }

    .task-input {
        margin: 1px;
        padding: 5px;
        background: #EEC550;
        align-content: center;
    }

    .content {
        display: flex;
        margin: 1px;
    }

    .box {
        flex: 1;
        margin: 1px;
        background: #EEC550;
        padding: 10px;
    }

    .list-container {
        overflow-y: scroll;
        height: 225px;
        border: 1px solid #000;
    }

    .list-container.complete {
        height: 600px;
    }

    .list-container::-webkit-scrollbar {
        background: transparent;
        width: 10px;
    }

    .list-container::-webkit-scrollbar-thumb {
        background: #1A2634;
    }

    input[type="text"] {
        border: 0px;
        padding: 5px;
        background: #1A2634;
        color: #fff;
        font-weight: 900;
    }

    button {
        border: 0px;
        background: #1A2634;
        color: #fff;
        cursor: pointer;
        padding: 5px;
        font-weight: 900;
    }

    hr {
        border: 1px solid black;
    }

    .footer {
        margin: 1px;
        text-align: center;
        background: #EEC550;
    }
</style>
