<head>
    <meta charset="utf-8">
    <title>Todo app</title>
    <link href="https://fonts.googleapis.com/css?family=Raleway" rel="stylesheet">
    <link rel="stylesheet" href="style.css">
</head>

<body>
    <div id="app">
        <div class="container">
            <div class="header">
                <h1 id="app_title">{{ title }}</h1>
                <h4 id="message">{{ message }}</h4>
            </div>

            <hr>

            <div class="left">
                <h2>New task</h2>
                <input type="text" v-model="task_title" placeholder="Title" style="padding: 5px;" required>
                <input type="text" v-model="task_description" placeholder="Description" style="padding: 5px;" required>
                <button @click="addTask" :title="btnTitle">Submit</button>
                <h3 :class="className"> All tasks </h3>
                <h4>Tasks : {{ numOfTasks }}</h4>
                <ul>
                    <li v-for="task in tasks">
                        {{ task.title }}
                        <br> {{ task.description }}
                        <br>
                        <a class="btn" @click="deleteTask(task)" disabled>Delete</a> &nbsp;
                        <a class="btn" @click="completeTask(task)">Done</a> &nbsp;
                        <a class="btn">Edit</a>
                        <br>
                        <br>

                    </li>
                </ul>

                <hr>

                <h3 :class="className">Incomplete tasks</h3>
                <h4>Tasks: {{ numOfInCompleteTasks }}</h4>
                <ul>
                    <li v-for="task in incompleteTasks">{{ task.title }} <br>{{ task.description }} <br><br> </li>
                </ul>
            </div>

            <div class="right">
                <h3 :class="className">Complete tasks</h3>
                <h4>Tasks: {{ numOfcompleteTasks }}</h4>
                <ul>
                    <li v-for="task in completedTasks">{{ task.title }} <br>{{ task.description }} <br><br> </li>
                </ul>
            </div>
        </div>
    </div>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/vue/2.1.10/vue.js" charset="utf-8"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/axios/0.15.3/axios.js" charset="utf-8"></script>
    <script src="app.js" charset="utf-8"></script>
</body>

</html>
