body {
    background: #007AB5;
    color: #007AB5;
    font-family: 'Raleway', sans-serif;
}

.container {
    border: 1px solid black;
    width: 70%;
    margin: 0 auto;
    overflow: hidden;
    padding: 10px;
    background: #004262;
    border-radius: 5px;
}

.left {
    float: left;
    width: 47%;
    padding: 10px;
    background: #D8E6EC;
}

.right {
    float: right;
    margin-left: 20px;
    width: 47%;
    padding: 10px;
    background: #D8E6EC;
}

#app_title {
    text-align: center;
}

#message {
    text-align: center;
    font-style: italic;
}

a {
    color: #004262;
    cursor: pointer;
}
.not-active {
   pointer-events: none;
   cursor: default;
}
.header {
    background: #D8E6EC;
    padding: 15px;
}

.btn {
    font-size: 15px;
    transition: font, background 1s ease;
    padding: 2px;
}

.btn:hover {
    font-size: 16px;
    background: #004262;
    color: #fff;
}

input[type='text'] {
    border: 0px;
    background: #004262;
    color: #fff;
    padding: 10px;
}

button {
    border: 0px;
    padding: 5px;
    background: #004262;
    color: #fff;
    cursor: pointer;
    font-weight: 900;
}
